# Ambiente Virtual e Cache
venv/
__pycache__/
*.pyc

# Configurações e Segredos
.env
.auth/
user_data/

# Arquivos Binários e Instaladores (Importante para evitar o erro de 100MB)
*.deb
*.exe
*.msi
*.zip
*.tar.gz

# Logs do Playwright/Navegador
test-results/
playwright-report/
blob-report/
memoria.txt